In [150]:
x=1
y=2
if y > x:
    print("y is greater than x")

y is greater than x

In [151]:
class_list = ["Alice", "Bob", "Charlie", "David"]
for name in class_list:
    print(name)

Alice
Bob
Charlie
David

In [152]:
cat1= "kitty"
cat2= cat1
print(cat1)
print(cat2)


cat3=cat1.upper()
print(cat3)
str="Walks like a duck, quacks like a duck, it's a duck"
print(str.upper())

cat1= 100
print(cat1)
print(cat2)

kitty
kitty
KITTY
WALKS LIKE A DUCK, QUACKS LIKE A DUCK, IT'S A DUCK
100
kitty

In [153]:
# write a function to sum two numbers
def add(a,b):
    return a+b

a=add(2,3)
print(a)

def my_sum(a,b,c,d):
    return a+b+c+d

b=my_sum(1,2,3,4)
print(b)

5
10

## Built-in and Custom Modules:
- Built-in Modules: Pre-installed with Python (e.g., math, os, random).
- Custom Modules: Python files created by users (e.g., my_module.py).

In [154]:
# Built in modules
import math

# Use math module functions
print(math.sqrt(16))  # Outputs: 4.0
print(math.pi)        # Outputs: 3.141592653589793

4.0
3.141592653589793

In [155]:
# Instead of importing the entire module, you can import specific functions or variables:

from math import sqrt, pi

print(sqrt(25))  # Outputs: 5.0
print(pi)        # Outputs: 3.141592653589793

5.0
3.141592653589793

In [156]:
# Use an alias to shorten the module name:

import numpy as np

array = np.array([1, 2, 3])
print(array)  # Outputs: [1 2 3]

[1 2 3]

In [157]:
dog = 'Scout'
dog = "Scout"

poem = '''the happy
dog ate
all his food'''

print(poem)

dog[1]
print(dog[1])

number = len(poem)
print(number)
# print(str(number))

lower_dog = dog.lower()
print(lower_dog)
upper_dog = dog.upper()
print(upper_dog)
new_name = dog.replace("u","o")
print(new_name)
poem.split(" ")[0]


print (r"My dog's name is", dog)

the happy
dog ate
all his food
c
30
scout
SCOUT
Scoot
My dog's name is Scout

## 1. List: A collection of items that is ordered, mutable (can be changed), and allows duplicates.

In [158]:
# Example of a List
fruits = ["apple", "banana", "cherry"]
print(fruits)  # Output: ['apple', 'banana', 'cherry']

# Adding an item
fruits.append("orange")
print(fruits)  # Output: ['apple', 'banana', 'cherry', 'orange']

# Accessing items
print(fruits[1])  # Output: banana

# Changing an item
fruits[0] = "kiwi"
print(fruits)  # Output: ['kiwi', 'banana', 'cherry', 'orange']

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'orange']
banana
['kiwi', 'banana', 'cherry', 'orange']

## 2. Tuple: A collection of items that is ordered, immutable (cannot be changed), and allows duplicates.

In [159]:
# Example of a Tuple
colors = ("red", "green", "blue")
print(colors)  # Output: ('red', 'green', 'blue')

# Accessing items
print(colors[0])  # Output: red

# You cannot modify the tuple
# colors[0] = "yellow"  # This will raise a TypeError

('red', 'green', 'blue')
red

## 3. Dictionary: A collection of key-value pairs that is unordered (in versions < 3.7), mutable, and does not allow duplicate keys.

In [160]:
# Example of a Dictionary
student = {"name": "Alice", "age": 22, "grade": "A"}
print(student)  # Output: {'name': 'Alice', 'age': 22, 'grade': 'A'}

# Accessing values
print(student["name"])  # Output: Alice

# Adding a new key-value pair
student["major"] = "Computer Science"
print(student)  # Output: {'name': 'Alice', 'age': 22, 'grade': 'A', 'major': 'Computer Science'}

{'name': 'Alice', 'age': 22, 'grade': 'A'}
Alice
{'name': 'Alice', 'age': 22, 'grade': 'A', 'major': 'Computer Science'}

In [161]:
fellowship = ["Frodo", "Gandalf", "Samwise", "Merry", "Pippin"
              , "Legolas", "Aragorn", "Gimli", "Boromir"]

print(fellowship)

fellowship.insert(2,"Golem")
print(fellowship)
fellowship.remove("Boromir")
print(fellowship)
fellowship.pop(8)
print(fellowship)
fellowship.append(100)
print(fellowship)

len(fellowship)
print(len(fellowship))

grocery_list1 = ["apples", "bananas"]
grocery_list2 = ["donuts", "hot chocolate"]
new_list = grocery_list2+grocery_list1
print(new_list)
new_list.clear()
print(new_list)

fellowship.reverse()
print(fellowship)
copy_of_list1 = grocery_list1.copy()
print(copy_of_list1)
grocery_list1.pop(1)
print(grocery_list1)

['Frodo', 'Gandalf', 'Samwise', 'Merry', 'Pippin', 'Legolas', 'Aragorn', 'Gimli', 'Boromir']
['Frodo', 'Gandalf', 'Golem', 'Samwise', 'Merry', 'Pippin', 'Legolas', 'Aragorn', 'Gimli', 'Boromir']
['Frodo', 'Gandalf', 'Golem', 'Samwise', 'Merry', 'Pippin', 'Legolas', 'Aragorn', 'Gimli']
['Frodo', 'Gandalf', 'Golem', 'Samwise', 'Merry', 'Pippin', 'Legolas', 'Aragorn']
['Frodo', 'Gandalf', 'Golem', 'Samwise', 'Merry', 'Pippin', 'Legolas', 'Aragorn', 100]
9
['donuts', 'hot chocolate', 'apples', 'bananas']
[]
[100, 'Aragorn', 'Legolas', 'Pippin', 'Merry', 'Samwise', 'Golem', 'Gandalf', 'Frodo']
['apples', 'bananas']
['apples']

In [162]:
dog = 'Scout'
dog = "Scout"
print(dog)

Scout

In [163]:
peom= '''the happy  
dog ate
all his food'''

print(poem)

peom= """the happy  
dog ate
all his food"""

print(poem)

the happy
dog ate
all his food
the happy
dog ate
all his food

In [164]:
print(poem[1])

h

In [165]:
dog[0]
print(dog[0])
print(dog[-1])

S
t

In [166]:
dog[0]="T"

TypeError: 'str' object does not support item assignment

In [167]:
# Slicing
print(dog[:3])
print(dog[3:])
print(dog[1:3])
print(dog[:])

Sco
ut
co
Scout

In [168]:
number= len(dog)
print(number)

5

In [170]:
"S" in dog

True

In [171]:
"T" in dog

False

In [172]:
"t" in dog

True

In [173]:
number = len(poem)
print(number)

print(str(number))

30

TypeError: 'str' object is not callable

In [174]:
# # Example
# poem = "Roses are red, violets are blue."
# number = len(poem)

# # Convert number to string and print
# print(str(number))

In [175]:
list(poem)

['t',
 'h',
 'e',
 ' ',
 'h',
 'a',
 'p',
 'p',
 'y',
 '\n',
 'd',
 'o',
 'g',
 ' ',
 'a',
 't',
 'e',
 '\n',
 'a',
 'l',
 'l',
 ' ',
 'h',
 'i',
 's',
 ' ',
 'f',
 'o',
 'o',
 'd']

In [176]:
lower_dog = dog.lower()
print(lower_dog)
upper_dog = dog.upper()
print(upper_dog)
new_name = dog.replace("S","R")
print(new_name)

name=" hi how are you "
print(list(name))
name1=name.strip()
print(list(name1))

scout
SCOUT
Rcout
[' ', 'h', 'i', ' ', 'h', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'y', 'o', 'u', ' ']
['h', 'i', ' ', 'h', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'y', 'o', 'u']

In [177]:
print(poem.split("\n"))
print(poem.split("\n")[0])

['the happy', 'dog ate', 'all his food']
the happy

In [178]:
print(poem.count("a"))

3

In [179]:
print(r"my dog's name is: ", dog)
print("my \t dog's \"name\" is: ", dog)

my dog's name is:  Scout
my 	 dog's "name" is:  Scout

In [180]:
x=5
bool(x)

True

In [181]:
y=0
bool(y)

False

In [196]:
xx=-9.8
bool(xx)

True

In [186]:
v=1
bool(v)

True

In [209]:
A=True
B=False

In [187]:
type(A)

bool

In [184]:
type(x)

int

In [185]:
type(y)

int

In [192]:
dog = "Scout"
bool(dog)

True

In [193]:
dog=""
bool(dog)

False

In [194]:
birds=None
bool(birds)

False

In [195]:
L=[]
bool(L)

False

In [197]:
A and B

False

In [198]:
A or B

True

In [199]:
not B

True

In [200]:
not A

False

In [205]:
C= False

In [201]:
A ==B

False

In [202]:
A !=B

True

In [211]:
A or (B and C)

True

In [207]:
(A and B) or C

False

In [208]:
B or C

False

In [212]:
print(9>4)

True