In [150]:
x=1
y=2
if y > x:
    print("y is greater than x")

y is greater than x

In [151]:
class_list = ["Alice", "Bob", "Charlie", "David"]
for name in class_list:
    print(name)

Alice
Bob
Charlie
David

In [152]:
cat1= "kitty"
cat2= cat1
print(cat1)
print(cat2)


cat3=cat1.upper()
print(cat3)
str="Walks like a duck, quacks like a duck, it's a duck"
print(str.upper())

cat1= 100
print(cat1)
print(cat2)

kitty
kitty
KITTY
WALKS LIKE A DUCK, QUACKS LIKE A DUCK, IT'S A DUCK
100
kitty

In [153]:
# write a function to sum two numbers
def add(a,b):
    return a+b

a=add(2,3)
print(a)

def my_sum(a,b,c,d):
    return a+b+c+d

b=my_sum(1,2,3,4)
print(b)

5
10

## Built-in and Custom Modules:
- Built-in Modules: Pre-installed with Python (e.g., math, os, random).
- Custom Modules: Python files created by users (e.g., my_module.py).

In [154]:
# Built in modules
import math

# Use math module functions
print(math.sqrt(16))  # Outputs: 4.0
print(math.pi)        # Outputs: 3.141592653589793

4.0
3.141592653589793

In [155]:
# Instead of importing the entire module, you can import specific functions or variables:

from math import sqrt, pi

print(sqrt(25))  # Outputs: 5.0
print(pi)        # Outputs: 3.141592653589793

5.0
3.141592653589793

In [156]:
# Use an alias to shorten the module name:

import numpy as np

array = np.array([1, 2, 3])
print(array)  # Outputs: [1 2 3]

[1 2 3]

In [157]:
dog = 'Scout'
dog = "Scout"

poem = '''the happy
dog ate
all his food'''

print(poem)

dog[1]
print(dog[1])

number = len(poem)
print(number)
# print(str(number))

lower_dog = dog.lower()
print(lower_dog)
upper_dog = dog.upper()
print(upper_dog)
new_name = dog.replace("u","o")
print(new_name)
poem.split(" ")[0]


print (r"My dog's name is", dog)

the happy
dog ate
all his food
c
30
scout
SCOUT
Scoot
My dog's name is Scout

## 1. List: A collection of items that is ordered, mutable (can be changed), and allows duplicates.

In [4]:
# Example of a List
fruits = ["apple", "banana", "cherry"]
print(fruits)  # Output: ['apple', 'banana', 'cherry']

# Adding an item
fruits.append("orange")
print(fruits)  # Output: ['apple', 'banana', 'cherry', 'orange']

# Accessing items
print(fruits[1])  # Output: banana

# Changing an item
fruits[0] = "kiwi"
print(fruits)  # Output: ['kiwi', 'banana', 'cherry', 'orange']

fruits.append("orange")
print(fruits)  # Output: ['kiwi', 'banana', 'cherry', 'orange', 'apple']

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'orange']
banana
['kiwi', 'banana', 'cherry', 'orange']
['kiwi', 'banana', 'cherry', 'orange', 'orange']

## 2. Tuple: A collection of items that is ordered, immutable (cannot be changed), and allows duplicates.

In [10]:
# Example of a Tuple
colors = ("red", "green", "blue")
print(colors)  # Output: ('red', 'green', 'blue')

# Accessing items
print(colors[0])  # Output: red

# You cannot modify the tuple
# colors[0] = "yellow"  # This will raise a TypeError

# add a new item to the tuple
colors = colors + ("blue",)
print(colors)  # Output: ('red', 'green', 'blue', 'yellow')

('red', 'green', 'blue')
red
('red', 'green', 'blue', 'blue')

## 3. Dictionary: A collection of key-value pairs that is unordered (in versions < 3.7), mutable, and does not allow duplicate keys.

In [38]:
# Example of a Dictionary
student = {"name": "Alice", "age": 22, "grade": "A"}
print(student)  # Output: {'name': 'Alice', 'age': 22, 'grade': 'A'}

# Accessing values
print(student["name"])  # Output: Alice

# Adding a new key-value pair
student["major"] = "Computer Science"
print(student)  # Output: {'name': 'Alice', 'age': 22, 'grade': 'A', 'major': 'Computer Science'}

{'name': 'Alice', 'age': 22, 'grade': 'A'}
Alice
{'name': 'Alice', 'age': 22, 'grade': 'A', 'major': 'Computer Science'}

In [39]:
fellowship = ["Frodo", "Gandalf", "Samwise", "Merry", "Pippin"
              , "Legolas", "Aragorn", "Gimli", "Boromir"]

print(fellowship)

fellowship.insert(2,"Golem")
print(fellowship)
fellowship.remove("Boromir")
print(fellowship)
fellowship.pop(8)
print(fellowship)
fellowship.append(100)
print(fellowship)

len(fellowship)
print(len(fellowship))

grocery_list1 = ["apples", "bananas"]
grocery_list2 = ["donuts", "hot chocolate"]
new_list = grocery_list2+grocery_list1
print(new_list)
new_list.clear()
print(new_list)

fellowship.reverse()
print(fellowship)
copy_of_list1 = grocery_list1.copy()
print(copy_of_list1)
grocery_list1.pop(1)
print(grocery_list1)

['Frodo', 'Gandalf', 'Samwise', 'Merry', 'Pippin', 'Legolas', 'Aragorn', 'Gimli', 'Boromir']
['Frodo', 'Gandalf', 'Golem', 'Samwise', 'Merry', 'Pippin', 'Legolas', 'Aragorn', 'Gimli', 'Boromir']
['Frodo', 'Gandalf', 'Golem', 'Samwise', 'Merry', 'Pippin', 'Legolas', 'Aragorn', 'Gimli']
['Frodo', 'Gandalf', 'Golem', 'Samwise', 'Merry', 'Pippin', 'Legolas', 'Aragorn']
['Frodo', 'Gandalf', 'Golem', 'Samwise', 'Merry', 'Pippin', 'Legolas', 'Aragorn', 100]
9
['donuts', 'hot chocolate', 'apples', 'bananas']
[]
[100, 'Aragorn', 'Legolas', 'Pippin', 'Merry', 'Samwise', 'Golem', 'Gandalf', 'Frodo']
['apples', 'bananas']
['apples']

In [40]:
dog = 'Scout'
dog = "Scout"
print(dog)

Scout

In [41]:
peom= '''the happy  
dog ate
all his food'''

print(poem)

peom= """the happy  
dog ate
all his food"""

print(poem)

NameError: name 'poem' is not defined

In [164]:
print(poem[1])

h

In [165]:
dog[0]
print(dog[0])
print(dog[-1])

S
t

In [3]:
dog='Scout'
dog[0]="T"

TypeError: 'str' object does not support item assignment

In [167]:
# Slicing
print(dog[:3])
print(dog[3:])
print(dog[1:3])
print(dog[:])

Sco
ut
co
Scout

In [168]:
number= len(dog)
print(number)

5

In [170]:
"S" in dog

True

In [171]:
"T" in dog

False

In [172]:
"t" in dog

True

In [173]:
number = len(poem)
print(number)

print(str(number))

30

TypeError: 'str' object is not callable

In [174]:
# # Example
# poem = "Roses are red, violets are blue."
# number = len(poem)

# # Convert number to string and print
# print(str(number))

In [175]:
list(poem)

['t',
 'h',
 'e',
 ' ',
 'h',
 'a',
 'p',
 'p',
 'y',
 '\n',
 'd',
 'o',
 'g',
 ' ',
 'a',
 't',
 'e',
 '\n',
 'a',
 'l',
 'l',
 ' ',
 'h',
 'i',
 's',
 ' ',
 'f',
 'o',
 'o',
 'd']

In [176]:
lower_dog = dog.lower()
print(lower_dog)
upper_dog = dog.upper()
print(upper_dog)
new_name = dog.replace("S","R")
print(new_name)

name=" hi how are you "
print(list(name))
name1=name.strip()
print(list(name1))

scout
SCOUT
Rcout
[' ', 'h', 'i', ' ', 'h', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'y', 'o', 'u', ' ']
['h', 'i', ' ', 'h', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'y', 'o', 'u']

In [177]:
print(poem.split("\n"))
print(poem.split("\n")[0])

['the happy', 'dog ate', 'all his food']
the happy

In [178]:
print(poem.count("a"))

3

In [179]:
print(r"my dog's name is: ", dog)
print("my \t dog's \"name\" is: ", dog)

my dog's name is:  Scout
my 	 dog's "name" is:  Scout

In [180]:
x=5
bool(x)

True

In [181]:
y=0
bool(y)

False

In [196]:
xx=-9.8
bool(xx)

True

In [186]:
v=1
bool(v)

True

In [209]:
A=True
B=False

In [187]:
type(A)

bool

In [184]:
type(x)

int

In [185]:
type(y)

int

In [192]:
dog = "Scout"
bool(dog)

True

In [193]:
dog=""
bool(dog)

False

In [194]:
birds=None
bool(birds)

False

In [195]:
L=[]
bool(L)

False

In [197]:
A and B

False

In [198]:
A or B

True

In [199]:
not B

True

In [200]:
not A

False

In [205]:
C= False

In [201]:
A ==B

False

In [202]:
A !=B

True

In [211]:
A or (B and C)

True

In [207]:
(A and B) or C

False

In [208]:
B or C

False

In [212]:
print(9>4)

True

In [27]:
fellowship = ["Frodo", "Gandalf", "Samwise", "Merry", "Pippin", "Legolas", "Aragorn", "Gimli", "Boromir"]
print(fellowship)
fellowship.sort()
print(fellowship)

['Frodo', 'Gandalf', 'Samwise', 'Merry', 'Pippin', 'Legolas', 'Aragorn', 'Gimli', 'Boromir']
['Aragorn', 'Boromir', 'Frodo', 'Gandalf', 'Gimli', 'Legolas', 'Merry', 'Pippin', 'Samwise']

In [28]:
fellowship.append("Golem")
print(fellowship)

['Aragorn', 'Boromir', 'Frodo', 'Gandalf', 'Gimli', 'Legolas', 'Merry', 'Pippin', 'Samwise', 'Golem']

In [31]:
fellowship.remove("Boromir")
print(fellowship)

['Aragorn', 'Frodo', 'Gandalf', 'Gimli', 'Merry', 'Pippin', 'Samwise']

In [32]:
fellowship.pop(5)
print(fellowship)

['Aragorn', 'Frodo', 'Gandalf', 'Gimli', 'Merry', 'Samwise']

In [33]:
fellowship.insert(2,"Golem")
print(fellowship)

['Aragorn', 'Frodo', 'Golem', 'Gandalf', 'Gimli', 'Merry', 'Samwise']

In [34]:
fellowship.append(100)
print(fellowship)

['Aragorn', 'Frodo', 'Golem', 'Gandalf', 'Gimli', 'Merry', 'Samwise', 100]

In [43]:
fellowship.reverse()
print(fellowship)

[100, 'Samwise', 'Merry', 'Gimli', 'Gandalf', 'Golem', 'Frodo', 'Aragorn']

In [48]:
len(fellowship)
print(len(fellowship))
fellowship.index("Golem")
print(fellowship.index("Golem"))
fellowship.count("Golem")
print(fellowship.count("Golem"))
fellowship.append("Golem")
print(fellowship.count("Golem"))

10
5
3
4

In [42]:
grocery_list1 = ["apples", "bananas"]
grocery_list2 = ["donuts", "hot chocolate"]
new_list = grocery_list2 + grocery_list1
print(new_list)
new_list.clear()
print(new_list)
third_list = grocery_list1
print(third_list)
copy_of_list1 = grocery_list1.copy()
print(copy_of_list1)
grocery_list1.pop(1)
print(third_list)

['donuts', 'hot chocolate', 'apples', 'bananas']
[]
['apples', 'bananas']
['apples', 'bananas']
['apples']

In [2]:
# set
x={'cat','dog','fish'}
print(x)
# empty set
y=set()
print(y)
# empty dictionary
dict={}
print(dict)
type(x)
type(dict)

{'fish', 'cat', 'dog'}
set()
{}

dict

In [2]:
# set can not have duplicates
x={'cat','dog','fish','fish'}
print(x)

{'cat', 'dog', 'fish'}

In [1]:
y=[1,2,3,4,4,5,5,6,6]
print(y)
y=set(y)
print(y)

[1, 2, 3, 4, 4, 5, 5, 6, 6]
{1, 2, 3, 4, 5, 6}

In [3]:
x.add('bird')
print(x)
x.remove('cat')
print(x)

{'bird', 'cat', 'dog', 'fish'}
{'bird', 'dog', 'fish'}

In [4]:
z=[1,2,3,4,4,5,5,6,6]
frozenset(z)
print(z)

[1, 2, 3, 4, 4, 5, 5, 6, 6]

In [15]:
import pandas as pd
import os

filename = r'/Users/rumana/Documents/YouTube/TaylorSpark/DrSpark_MSE2001python/module_examples/data_for_exercises/fantasy_sets.csv'
df = pd.read_csv(filename)
print(df)

LoTR = df['LOTR'].dropna()
StarWars = df['SW'].dropna()
HarryPotter = df['HP'].dropna()
print(LoTR)

LoTR = set(LoTR)
StarWars = set(StarWars)
HarryPotter = set(HarryPotter)
print(LoTR)

                  LOTR                  SW                HP
0         2d animation               1970s       11 year old
1    41st century b.c.               abyss   11 year old boy
2               ambush         action girl             1990s
3    aragorn character         action hero      abusive aunt
4            axe fight       aerial combat  abusive relative
..                 ...                 ...               ...
406                NaN       wuxia fiction               NaN
407                NaN              x wing               NaN
408                NaN  x wing starfighter               NaN
409                NaN  y wing starfighter               NaN
410                NaN    yavin the planet               NaN

[411 rows x 3 columns]
0           2d animation
1      41st century b.c.
2                 ambush
3      aragorn character
4              axe fight
             ...
101         war violence
102              warrior
103           witchcraft
104               wizard
105             wizardry
Name: LOTR, Length: 106, dtype: object
{'shot to death', 'violence', 'five word title', 'middle earth', 'saruman the white character', 'sword and sandal', 'first part', 'epic', 'shot with multiple arrows', 'hobbit', 'self sacrifice', 'multiple cameos', 'fictional war', 'cult film', 'live action and animation', 'standoff', 'last stand', 'magic', 'rotoscoping', 'legolas character', 'end of mankind', 'good versus evil', 'frodo baggins character', 'right hand man', 'samwise gamgee character', 'staff', 'rescue', 'cavalry charge', 'enchantment', 'death of hero', 'quest', 'siege', 'ambush', 'battle', 'sidekick', 'foot chase', 'monster', 'bridge', 'ring', 'elrond character', 'boromir character', 'stabbed in the shoulder', 'macguffin', 'goblin', 'starving', 'gollum character', 'super villain', 'lord of the rings', 'mission', 'psychotronic film', 'combat', 'demon', 'blood splatter', 'villain', 'halfling', 'journey', 'sword and sorcery', 'bow and arrow', 'psychedelic image', 'cavalry', 'falling to death', 'battleaxe', 'fortress', 'sword and fantasy', 'aragorn character', 'warrior', 'back from the dead', 'group', 'dark fantasy', 'witchcraft', 'friends who live together', 'no opening credits', 'hero', 'battlefield', 'chase', 'gimli character', 'orc', 'hunger', 'shot with a bow and arrow', 'based on novel', 'fictional country', 'dwarf', 'emaciation', 'sequel', '41st century b.c.', 'fantasy world', 'horse chase', 'surrealism', 'galadriel character', 'gore', 'wizardry', 'axe fight', 'castle', 'gandalf character', 'blood', 'wizard', 'war violence', 'kingdom', 'bilbo baggins character', 'showdown', '2d animation', 'prehistoric times', 'sorcerer', 'cult director', 'elf', 'prehistory'}

In [16]:
df.describe()

                LOTR     SW           HP
count            106    411          319
unique           106    411          319
top     2d animation  1970s  11 year old
freq               1      1            1

In [19]:
# Union
LoTR_HP_common=LoTR.intersection(HarryPotter)
print(LoTR_HP_common)
len(LoTR_HP_common)

{'based on novel', 'first part', 'epic', 'self sacrifice', 'dwarf', 'fantasy world', 'monster', 'cult film', 'magic', 'dark fantasy', 'witchcraft', 'no opening credits', 'goblin', 'wizard', 'hero', 'mission', 'good versus evil', 'rescue', 'villain', 'sorcerer', 'elf'}

21

In [20]:
# Find the common elements between LoTR and StarWars
LoTR_SW_common=LoTR.intersection(StarWars)
print(LoTR_SW_common)
len(LoTR_SW_common)

{'violence', 'sword and sorcery', 'epic', 'battle', 'ambush', 'self sacrifice', 'sequel', 'foot chase', 'monster', 'fictional war', 'cult film', 'friends who live together', 'no opening credits', 'hero', 'super villain', 'mission', 'good versus evil', 'chase', 'psychotronic film', 'combat', 'rescue'}

21

In [21]:
# common in all three
all_three_common=LoTR.intersection(StarWars).intersection(HarryPotter)
print(all_three_common)
len(all_three_common)

{'monster', 'cult film', 'no opening credits', 'rescue', 'hero', 'good versus evil', 'epic', 'mission', 'self sacrifice'}

9

In [25]:
# set difference 
diffs=LoTR.difference(HarryPotter)
print(diffs)
len(diffs)

{'shot to death', 'violence', 'five word title', 'saruman the white character', 'middle earth', 'sword and sandal', 'shot with multiple arrows', 'hobbit', 'multiple cameos', 'fictional war', 'live action and animation', 'standoff', 'last stand', 'rotoscoping', 'legolas character', 'end of mankind', 'frodo baggins character', 'right hand man', 'samwise gamgee character', 'staff', 'cavalry charge', 'enchantment', 'death of hero', 'quest', 'siege', 'ambush', 'battle', 'sidekick', 'foot chase', 'bridge', 'ring', 'elrond character', 'boromir character', 'stabbed in the shoulder', 'macguffin', 'starving', 'gollum character', 'super villain', 'lord of the rings', 'psychotronic film', 'combat', 'demon', 'blood splatter', 'halfling', 'journey', 'sword and sorcery', 'bow and arrow', 'psychedelic image', 'cavalry', 'falling to death', 'battleaxe', 'fortress', 'sword and fantasy', 'aragorn character', 'warrior', 'back from the dead', 'group', 'friends who live together', 'battlefield', 'chase', 'gimli character', 'orc', 'hunger', 'shot with a bow and arrow', 'fictional country', 'emaciation', 'sequel', '41st century b.c.', 'horse chase', 'surrealism', 'galadriel character', 'gore', 'wizardry', 'axe fight', 'castle', 'gandalf character', 'blood', 'war violence', 'kingdom', 'bilbo baggins character', 'showdown', '2d animation', 'prehistoric times', 'cult director', 'prehistory'}

85

In [28]:
union_fantasy=LoTR.union(StarWars).union(HarryPotter)
print(union_fantasy)
len(union_fantasy)

{'boat', 'stormtrooper', 'aerial combat', 'steam locomotive', 'anti hero', 'disguise', 'spaceship', 'sniper', 'stuttering', 'rebel base', 'triumph motor company', 'hobbit', 'princess warrior', 'vivarium', 'multiple cameos', 'cousin', 'cult film', 'dean thomas character', 'standoff', 'yavin the planet', 'dinner', 'murder of a man', 'school prefect', 'handheld device', 'draco malfoy character', 'gringotts wizarding bank', 'last stand', 'taking notes', 'hangar', 'starship fleet', 'legolas character', 'locomotive', 'flying key', 'good vs evil', 'numbered sequel', 'x wing', 'laser turret', 'hovercar', 'hand to hand combat', 'friend', 'lamp', '1970s', 'incestuous kiss', 'two word title', 'courage', 'farmboy', 'enchantment', 'death of hero', 'death star', 'crash site', 'shot with a laser gun', 'flying object', 'all star cast', 'passenger train carriage', 'battle', 'chewbacca character', 'pre teen witch', 'crashed pod', 'hitman', 'subjective camera', 'child in jeopardy', 'insult', 'birthday cake', 'umbrella', 'male alien', 'interrogation droid', 'brother sister relationship', 'classroom', 'rocky canyon', 'tusken raider', 'hyphen in title', 'harry potter movie franchise', 'boromir character', 'stabbed in the shoulder', 'escape', 'macguffin', 'fight', 'reward', 'mission', 'action hero', 'psychotronic film', 'alternate version', 'combat', 'prefect', 'jedi mind trick', 'gregory goyle character', 'twin', 'blaster rifle', 'ghost', 'totalitarianism', 'animal', 'red haired boy', 'comlink', 'serpent', 'impersonating an enemy soldier', 'exploding starfighter', "number in character's name", 'tall alien', 'halfling', 'ticket', 'snack trolley', 'troll', '11 year old', 'medal ceremony', 'levitating candle', 'sword and fantasy', 'magical newspaper', 'cult figure', 'occult', 'magical broomstick', 'cult classic', 'victory', 'talking object', 'winged key', 'train ticket', 'galactic empire', 'imperial star destroyer', 'number in title', 'bank', 'back from the dead', 'destruction of planet', 'cruiser', 'library', 'enchanted ceiling', 'levitating object', 'special edition', 'governor', 'space battle', 'oliver wood character', 'super weapon', 'beard', 'spacecraft', 'alien', 'galactic war', 'hunger', 'rubeus hagrid character', 'george weasley character', 'zoo', 'part of trilogy', 'severed arm', 'ship', 'shot with a bow and arrow', 'book', 'imperial governor', 'film starts with text', 'loss of left arm', 'planet tatooine', 'underdog', 'chess', 'cleaning', 'new school', 'abusive aunt', 'fantasy world', 'portrait comes to life', 'surrealism', 'common room', 'farmer', 'sibling kiss', 'immortality', 'wizardry', 'tough girl', 'x wing starfighter', 'extraterrestrial', 'space', 'holographic projection', 'vapor farmer', 'first film in series', 'school of magic', 'black cape', 'jedi training', 'winged object', 'kingdom', 'poetic justice', 'showdown', 'space pilot', 'train station', 'golden snitch', '2d animation', 'unicorn', 'disney star wars', 'mail delivery', 'luke skywalker character', 'transformation', 'shot to death', 'interspecies relationship', 'violence', 'uncle nephew relationship', 'neck breaking', 'five word title', 'middle earth', 'family dinner', 'bank vault', 'beast', 'animated chess', 'grand moff', 'orchestral music score', 'burning candle', 'evil empire', 'lily potter character', 'boba fett character', 'c 3po character', 'symphonic music score', 'newspaper', 'shoot first', 'handheld lamp', 'outer space', 'good man', 'the force', 'rotoscoping', 'grandfather clock', 'identical twins', 'planet killer', 'distraction', 'reference to jabba the hutt', 'potion', 'watercraft', 'single shot', 'luggage trolley', 'talking robot', 'frodo baggins character', 'witch', 'hat', 'staff', 'rescue', 'cruiser starship', 'saga', 'cavalry charge', 'boy wears eyeglasses', 'gun', 'blockbuster', 'hypnosis', 'harp', 'lavatory', 'vault', "character's point of view camera shot", 'human being', 'sandcrawler', 'band', 'rebel', 'sand dune', 'damaged spectacles', 'halloween', 'innocent deaths avenged', 'jedi', 'foot chase', 'mountain troll', 'seamus finnigan character', 'imperial stormtrooper', 'dormitory', 'princess leia organa character', 'sword', 'brick wall', 'mind control', 'droid', 'empire', 'nomad', 'blaster pistol', 'elrond character', 'pre teenager', 'planet viewed from outer space', 'aunt nephew relationship', 'gollum character', 'long time ago', 'canine', 'christmas', 'pilot', 'girl', 'cult favorite', 'laser weapon', 'sabotage', 'vine', 'invisibility cloak', 'mass murder', 'game', 'starfighter', 'blood splatter', 'vauxhall vectra exstate', 'darth vader character', 'villain', 'bearded man', 'bravery', 'rodian', 'orphan', 'weapon of mass destruction', 'famous line', 'trapdoor', 'human becoming an animal', 'journey', 'sword and sorcery', 'automatic doors', 'bow and arrow', 'lord voldemort character', 'grand moff tarkin character', 'elevator', 'muggle', 'castle thunder', 'handheld communicator', 'fortress', 'space opera', 'pre teen', 'leather gloves', 'key', 'weapons fire', 'multiple versions', 'r2 d2 character', 'rebel starship', 'female ghost', 'wedge antilles character', 'fairy creature', 'emperor', 'group', 'deep voice', 'candy', 'dark fantasy', 'witchcraft', 'helmet', 'flying ship', 'pet as gift', 'imperial starship', 'bar fight', 'hero', 'flying broomstick', 'teacher', 'power', 'best friend', 'hostage', 'boy hero', 'battlefield', 'train passenger car', 'applause', 'new student', 'warp speed', 'forehead scar', 'living portrait', 'animate painting', 'orc', 'gold robot', 'wrist restraints', 'scar', 'moving staircase', 'laser', 'bipedal robot', 'cat', 'canyon', 'corvette starship', 'lifting a male into the air', 'sequel', 'attempted child strangulation', 'fictitious sport', 'opening crawl', 'human android relationship', 'gore', 'good woman', 'birthday', 'centaur', 'slow motion scene', 'sand', 'sword fight', 'talking droid', 'jedi master', 'broomstick', 'binoculars', 'android', 'music by john williams', 'elitism', 'sorting hat', 'starship bridge', 'invisibility', 'blood', 'blaster', 'levitation', 'disarming someone', 'bully', 'family secret', 'robot', 'talking snake', 'prehistoric times', 'desert', 'reference to the clone wars', 'telekinesis', 'knight', 'cult director', 'eyeglasses', 'toad', 'attack', 'space station', 'staircase', 'teen angst', 'james potter character', 'ron weasley character', 'destiny', 'robot human relationship', 'first part', 'three headed dog', 'star destroyer', 'aunt', 'england', 'magic wand', 'swordsman', 'passenger', 'fraternal twins', 'amphibian', 'older hero', 'live action and animation', 'black helmet', 'vauxhall cavalier', 'non human', 'severus snape character', 'magic', 'diagon alley', 'man with long hair', 'minerva mcgonagall character', 'mirror', 'vauxhall motor vehicle', 'wuxia fiction', 'mysterious', 'end of mankind', 'han solo character', 'mysterious villain', 'captain', 'right hand man', 'invented language', 'night time', 'warrior culture', 'death ray', 'plea', 'albus dumbledore character', 'sword and planet', 'stop motion animation', 'science fantasy', 'dysfunctional family', 'droid human relationship', 'hologram', 'child abuse', 'giant creature', 'lightsaber', 'twins', 'sidekick', 'animal enclosure', 'monster', 'magic book', 'bridge', 'shootout', 'strangulation', 'school life', 'hobgoblin', 'schoolgirl', 'wookiee', 'ring', 'force choke', 'first of series', 'hospital wing', 'human female', 'abyss', 'famous score', 'red herring', 'hooded figure', 'scar on the forehead', 'repulsorcraft', 'lifting an adult into the air', 'targeting screen', 'protocol droid', 'fairy tale', 'reverse footage', 'goblin', 'prisoner', 'know it all', 'lord of the rings', 'quidditch', 'skeleton', 'spaceport', 'impersonation', 'preemptive strike', 'princess', 'stormtrooper character', 'magical cloak', '11 year old boy', 'fourth part', 'genocide', 'burnt body', 'stealing', 'obi wan kenobi character', 'soldier', 'owl', 'ithorian', 'lightsaber duel', 'starship battle', 'chocolate frog', 'teacher student relationship', 'male ghost', 'sentient hat', 'tractor beam', 'jawa', 'projectile weapon', 'handheld weapon', 'space western', 'psychedelic image', 'husband wife relationship', 'assault', 'falling to death', 'forced perspective', 'battleaxe', 'human in outer space', 'astromech droid', 'communications device', 'reference to anakin skywalker', 'creature', 'black armor', 'giant humanoid', 'vehicle', 'magical mirror', 'message', 'warrior', 'man wears eyeglasses', 'human', 'no opening credits', 'hyperspace', 'jabba the hutt character', 'abusive relative', 'male female relationship', 'chase', 'talking animal', 'anger', 'planet', 'impersonating an imperial stormtrooper', 'holographic message', 'telepathy', 'filius flitwick character', 'dog', 'passenger compartment', 'ginny weasley character', 'tough guy', 'reluctant hero', 'based on novel', 'class', 'wmd', 'school dormitory', 'unicorn blood', 'space travel', 'baby dragon', 'abusive uncle', 'character name in title', 'honor', 'emaciation', 'devaronian', 'y wing starfighter', '41st century b.c.', 'argus filch character', 'allegory of multiple historical events.', 'galadriel character', 'detention cell', 'suicide', 'white owl', 'starfighter pilot', 'trash compactor', 'gandalf character', 'action girl', 'alien race', 'male protagonist', 'letter', 'duel', 'bilbo baggins character', 'scavenger', 'aqualish', 'sword duel', 'petunia dursley character', 'wand', 'boy', 'student', 'national film registry', 'lifted by the throat', 'poetry recitation', 'prehistory', 'spacecraft cockpit', 'death of friend', 'space bounty hunter', 'uniform', 'night', 'starship interior', 'saruman the white character', 'weapon', 'forest', 'bad guy bar', 'prison escape', 'sword and sandal', 'roman numeral in title', 'epic', 'shot with multiple arrows', 'hereditary gift of witchcraft', 'scroll', 'self sacrifice', 'bipedal droid', 'scanimate', 'great hall', 'farm', 'stun blast', 'surprise ending', 'prison', '1990s', 'stadium', 'pre teen boy', 'fictional war', 'family relationships', 'dragon', 'fred weasley character', 'spirit', 'infirmary', 'mixed martial arts', 'jet fighter', 'motor vehicle', 'humanoid robot', 'starship pilot', 'spell', 'paralysis', 'desert planet', 'year 1992', 'good versus evil', 'lucasfilm', 'colon in title', 'old bearded man', 'loss of family', 'gunfight', 'feline', 'samwise gamgee character', 'gunfighter', 'galaxy', 'computer', 'pleading', 'rebellion', 'gun under a table', 'mouse droid', 'molly weasley character', 'lifting someone into the air', 'shared universe', 'talking painting', 'gun fight', 'quest', 'siege', 'mirror does not reflect reality', 'space war', 'ambush', 'dudley dursley character', 'untucked shirt flap', 'computer system', 'endangered princess', 'female fighter', 'girl with long hair', 'smuggler', 'famous opening theme', 'oversize chess set', 'troubled production', 'world destruction', 'lightsaber battle', 'the number 713', 'starving', 'feast', 'super villain', 'theft', 'attacked by vine', 'murder', 'escape pod', 'chocolate', 'cloak', 'general', 'triumph bonneville', 'demon', 'hermione granger character', 'exhaust shaft', 'cantina', 'train platform', 'money', 'loss of arm', 'marksman h combat remote', 'moisture farmer', 'twin suns', 'rodent', 'mystic', 'hermit', 'station wagon', 'professor', 'evil wizard', 'based on young adult novel', 'future', 'laser gun', 'tie advanced x1 starfighter', 'starfighter cockpit', 'mother son relationship', 'vernon dursley character', 'princess heroine', 'medal', 'snake', 'millennium falcon', 'mask', 'cavalry', 'pre teen girl', 'male cousin', 'schoolboy', 'fictional planet', 'interrogation', 'spaghetti western', 'male professor', 'gunslinger', 'twin brothers', 'human male', 'aragorn character', 'design flaw', 'home', 'vauxhall', 'white beard', 'alien creature', 'pre teenage boy', 'translator', 'school', 'friends who live together', 'bounty hunter', 'school infirmary', 'loss of right arm', 'vincent crabbe character', 'pod', 'jail cell', 'heroine', 'gimli character', 'bird', 'tie fighter', 'train', 'walls close in', 'sunset', 'talking hat', 'supernatural power', 'exploding planet', 'boarding school', 'controversy', 'snowy owl', 'disney', 'fictional country', 'alderaan the planet', 'woman in uniform', 'uncle', 'warner bros.', 'dwarf', 'martial arts', 'sentient object', 'percy weasley character', 'horse chase', 'chocolate animal', 'musical instrument', 'disability', 'leitmotif', 'pre teenage girl', 'axe fight', 'surrey england', 'castle', 'exploding ship', 'wizard', 'laser cannon', 'war violence', 'bar', 'kiss', 'smoke', 'child hero', 'ancient astronaut', 'title spoken by character', 'friendship', 'full length mirror', 'rat', 'crossbow', 'dragon egg', 'wilhelm scream', 'blockade runner', 'shrinking room', 'hardcover book', 'harry potter character', 'sorcerer', 'neville longbottom character', 'landspeeder', 'elf'}

776

- union() will create new set with all items in two other sets.
- intersection() will create new set with all values in both of two other sets.
- difference() will create a new set with all values present in one, but not the other.

In [33]:
x={1,2,3,4,5}
y={4,5,6,7,8}
z={4,7,8,9,10,11}
common=x.intersection(y).intersection(z)
print(common)
len(common)

union_=x.union(y).union(z)
print(union_)
len(union_)

diff_=x.difference(y)
print(diff_)
len(diff_)

{4}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{1, 2, 3}

3

In [46]:
tuple=(1,2,3,4,5)
print(tuple)
print(tuple[4])

(1, 2, 3, 4, 5)
5

In [54]:
# tuples help in swaping varialbles
a,b=(1,2)
print(a)
print(b)

a,b=b,a
print(a)
print(b)

1
2
2
1

In [57]:
tuple_1=([1,2,3,4,5],['apple','banana','cherry'],'hello','hi')
print(tuple_1)
type(tuple_1)

numbers, fruits_, string1, string2=tuple_1
print(numbers)
print(fruits_)
print(string1)
print(string2)

([1, 2, 3, 4, 5], ['apple', 'banana', 'cherry'], 'hello', 'hi')
[1, 2, 3, 4, 5]
['apple', 'banana', 'cherry']
hello
hi

In [64]:
tup=(1,2,3,4,5)
tup[0]=10

TypeError: 'tuple' object does not support item assignment

Tuples cannot change their values (immutable) so if you really need to why are you using a
tuple? But you can always convert to list, change, then convert list to tuple

In [66]:
tuple_2=([1,2],3,4,5)
a,b,c,d= tuple_2
print(a)
a[0]=100
print(tuple_2)

[1, 2]
([100, 2], 3, 4, 5)

In [80]:
rick_dict={'first name':'Rick','last name':'Sanchez', 'age':70,'catchphrase':'Wubba lubba dub dub'}
morty_dict={'first name':'Morty','last name':'Smith', 'age':80,'catchphrase':'this is the way'} 
summer_dict={'first name':'Summer','last name':'Smith', 'age':30,'catchphrase':'I am the best'}

print(rick_dict['first name'])
print(morty_dict.get('first name'))

Rick
Morty

In [74]:
# print(rick_dict['origin'])
print(rick_dict.get('origin'))
print(rick_dict.get('origin','unknown'))

None
unknown

A dictionary can also contain many dictionaries, this is called nested dictionaries.

In [78]:
# nested dictionary
messed_up_dict={"rick_dict":rick_dict,"morty_dict":morty_dict,"summer_dict":summer_dict}
print(messed_up_dict)
len(messed_up_dict)

{'rick_dict': {'first name': 'Rick', 'last name': 'Sanchez', 'age': 70, 'catchphrase': 'Wubba lubba dub dub'}, 'morty_dict': {'first name': 'Morty', 'last name': 'Smith', 'age': 80, 'catchphrase': 'this is the way'}, 'summer_dict': {'first name': 'Summer', 'last name': 'Smith', 'age': 30, 'catchphrase': 'I am the best'}}

3

In [86]:
x=5
y=2.5
z=x+y
z=x*y
print(z)
num_complex=3+4j
print(num_complex)
z=num_complex+2
print(z)
print(num_complex.real)
print(num_complex.imag)

12.5
(3+4j)
(5+4j)
3.0
4.0

In [94]:
# modulus: remainder
z=5%3
print(z)
# floor division: integer division
z=5//3
print(z)

2
1

In [95]:
z=5**3
print(z)

125

In [96]:
x=5
x+=3
print(x)

8

In [98]:
x==y

False

In [99]:
x>y

True

In [100]:
x!=y

True

In [103]:
print(x)
print(y)

8
2.5

and: Returns True if both statements are true x < 5 and x < 10

or: Returns True if one of the statements is true x < 5 or x < 4

not: Reverse the result, returns False if the result is true not(x < 5 and x < 10)

In [102]:
x<y and x>1

False

In [104]:
x<y or x>1

True

In [105]:
not(x!=y)

False

In [106]:
x is y

False

In [107]:
x is not y

True

In [109]:
new_list=['cat','dog','fish']
'fish' in new_list

True

In [110]:
'shark' in new_list

False

In [111]:
'shark' not in new_list

True

In [116]:
x=0
if x>0:
    print('The number is larger than 0')
elif x<0:
    print('The number is less than 0')
else:
    print('The number is 0')

The number is 0

In [119]:
x=4
if x>0:
    print('The number is larger than 0')
elif x>0 and x<10:
    print('The number is between 0 and 10')
elif x<0:
    print('The number is less than 0')
else:
    print('The number is 0')

The number is larger than 0

In [120]:
x=4
if x>0 and x<3:
    print('The number is larger than 0')
elif x>0 and x<10:
    print('The number is between 0 and 10')
elif x<0:
    print('The number is less than 0')
else:
    print('The number is 0')

The number is between 0 and 10

In [123]:
# nested if
x=4
if x>0:
    if x>0 and x<10:
        print('The number is between 0 and 10')
    elif x>0 and x>10:
        print('The number is a big number')
elif x<0:
    print('The number is less than 0')
else:
    print('The number is 0')

The number is between 0 and 10

In [126]:
fruits = 'apple'
isApple=True if fruits=='apple' else False
bool(isApple)

True

In [130]:
x=4
fruit='Apple'
if x>0:
    if x>0 and x<10 and fruit=='Apple':
        print('The number is between 0 and 10')
    elif x>0 and x>10:
        print('The number is a big number')
elif x<0:
    pass
else:
    print('The number is 0')

The number is between 0 and 10